.loginBox {
  -webkit-app-region: drag;
  position: relative;
}
.LoginPageBox {
  width: 330px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 28%);
}

.winOpera {
  text-align: right;
}

.winOpera .operaImg {
  -webkit-app-region: no-drag;
}
