.reimbursementTap :global(.ant-tabs-content-holder) {
  overflow: auto;
}

.formBtn {
  width: 310px;
  height: 38px;
  background-color: #1c94f4;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* .leaveTap :global(.ant-tabs-content-holder) {
  padding: 0 140px;
} */

.tabPane1 {
  padding: 16px 140px 0 140px !important;
}

.reimbursementTap :global(.ant-tabs-nav) {
  margin: 0 !important;
}

.DrawerBox {
  display: flex;
  align-items: center;
}
.DrawerText {
  display: flex;
  flex-direction: column;
}
.DrawerAvatar {
  width: 36px;
  height: 36px;
  margin-right: 12px;
}
.DrawerTitle {
  display: flex;
}

:global(.ant-timeline-item-content) {
  display: flex;
  justify-content: space-between;
}
